<script>
    var apiurl = '@Model.ApiUrl';
</script>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8" id="content">

        </div>
        <div class="col-md-4" id="controls">

        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Game of life 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>